<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3 order-1">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <form action="" class="aa-sort-form">
                            <label for="">Sort by</label>
                            <select name="">
                                <option value="1" selected="Default">Default</option>
                                <option value="2">Name</option>
                                <option value="3">Price</option>
                                <option value="4">Date</option>
                            </select>
                            </form>
                            <form action="" class="aa-show-form">
                            <label for="">Show</label>
                            <select name="">
                                <option value="1" selected="12">12</option>
                                <option value="2">24</option>
                                <option value="3">36</option>
                            </select>
                            </form>
                        </div>
                            <div class="aa-product-catg-head-right">
                                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                            </div>
                    </div>
                    <div class="aa-product-catg-body">
                        <ul class="aa-product-catg">
                        <!-- start single product item -->
                            {{#each productlist}}
                            <li>
                                <figure>
                                    <a class="aa-add-card-btn"href="/cart/add/{{key}}"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                    <a class="aa-product-img" href="#">
                                        <!-- temporary text description instead of image -->
                                        <div>
                                            <img src="https://picsum.photos/270/300?product={{name}}" alt="{{name}}">

                                        </div>
                                    </a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="/products/view/{{key}}">{{name}}</a></h4>
                                        <span class="aa-product-price">{{price}} zł</span>
                                    </figcaption>
                                </figure>
                            </li>
                            {{/each}}
                        </ul>
                        <div class="aa-product-catg-pagination">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9 order-0">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Category</h3>
                        <ul class="aa-catg-nav">
                            {{#each categories}}
                            <li><a href="#">{{this}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Tags</h3>
                        <div class="tag-cloud">
                            <a href="#">Tag 1</a>
                            <a href="#">Tag 2</a>
                            <a href="#">Tag 3</a>
                            <a href="#">Tag 4</a>
                            <a href="#">Tag 5</a>
                            <a href="#">Tag 6</a>
                            <a href="#">Tag 7</a>
                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Shop By Price</h3>              
                        <!-- price range -->
                        <div class="aa-sidebar-price-range">
                            <form action="">
                                <span id="skip-value-lower" class="example-val">30.00</span>
                                <span id="skip-value-upper" class="example-val">100.00</span>
                                <button class="aa-filter-btn" type="submit">Filter</button>
                            </form>
                        </div>              
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>