<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/theme-color/pink-theme.css" id="switcher" >
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand p-3" href="/products">SIMPLE STORE</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <div class="aa-search-box">
                    <form action="/products/search/" method="POST">
                        <input type="text" name="term" id="" placeholder="Search here ex. 'man' ">
                        <button type="submit"><span class="fa fa-search"></span></button>
                    </form>
              </div>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="nav-item d-flex align-items-center">
                        <div class="navbar-text" id="profile-icon">
                            <i class="far fa-user"></i>
                        </div>
                        {{#if user}}
                        <div class="d-flex flex-column ml-3">   
                            <small class="navbar-text ml-auto">
                                <strong>Hello,</strong>
                            </small>
                            <small class="navbar-text ml-auto">
                                {{user.username}}
                            </small>
                        </div>
                        <div class="d-flex flex-column ml-3">
                            <small class="navbar-text ml-auto">
                                <a href="/users/logout"><strong>Log Out</strong></a>
                            </small>
                        </div>
                        {{else}}
                        <div class="d-flex flex-column ml-3">
                            <small class="navbar-text ml-auto">
                                <a href="/users/login"><strong>Log In</strong></a>
                            </small>
                        </div>
                        <div class="d-flex flex-column ml-3" id="register">
                            <small class="navbar-text ml-auto">
                                <a href="/users/register"><strong>Register</strong></a>
                            </small>
                        </div>
                        {{/if}}
                    </div>
                </li>
                <li>
                    <!-- cart box -->
                    <div class="nav-item d-flex align-items-center">
                        <div>
                            <a class="btn btn-sm btn-secondary navbar-btn" href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="d-flex flex-column ml-3">
                            <small class="navbar-text">
                                <b>Your cart:</b> {{#if cart.lines.length}} {{cart.totalQuantity}} {{else}} 0 {{/if}}item(s)
                            </small>
                            <small class="navbar-text ml-auto">
                                {{#if cart.lines.length}} {{cart.totalValue}} {{else}} 0.00 {{/if}} zł
                            </small>
                        </div>
                        
                    </div>
                    <!-- / cart box -->
                </li>
            </ul>
        </div>
    </nav>

    <div className="container-fluid"></div>
        <div class="row p-1">
            {{{body}}}
        </div>
    </div>


<script src="/js/custom.js"></script>
</body>
</html>