<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/theme-color/pink-theme.css" id="switcher" >
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand p-3" href="/products">SIMPLE STORE</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <div class="aa-search-box">
                    <form action="/products/search/" method="POST">
                        <input type="text" name="term" id="" placeholder="Search here ex. 'man' ">
                        <button type="submit"><span class="fa fa-search"></span></button>
                    </form>
              </div>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="nav-item d-flex align-items-center">
                        <div class="navbar-text" id="profile-icon">
                            <i class="far fa-user"></i>
                        </div>
                        {{#if user}}
                        <div class="d-flex flex-column ml-3">   
                            <small class="navbar-text ml-auto">
                                <strong>Hello,</strong>
                            </small>
                            <small class="navbar-text ml-auto">
                                {{user.username}}
                            </small>
                        </div>
                        <div class="d-flex flex-column ml-3">
                            <small class="navbar-text ml-auto">
                                <a href="/users/logout"><strong>Log Out</strong></a>
                            </small>
                        </div>
                        {{else}}
                        <div class="d-flex flex-column ml-3">
                            <small class="navbar-text ml-auto">
                                <a href="/users/login"><strong>Log In</strong></a>
                            </small>
                        </div>
                        <div class="d-flex flex-column ml-3" id="register">
                            <small class="navbar-text ml-auto">
                                <a href="/users/register"><strong>Register</strong></a>
                            </small>
                        </div>
                        {{/if}}
                    </div>
                </li>
                <li>
                    <!-- cart box -->
                    <div class="nav-item d-flex align-items-center">
                        <div>
                            <a class="btn btn-sm btn-secondary navbar-btn" href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="d-flex flex-column ml-3">
                            <small class="navbar-text">
                                <b>Your cart:</b> {{#if cart.lines.length}} {{cart.totalQuantity}} {{else}} 0 {{/if}}item(s)
                            </small>
                            <small class="navbar-text ml-auto">
                                {{#if cart.lines.length}} {{cart.totalValue}} {{else}} 0.00 {{/if}} zł
                            </small>
                        </div>
                        
                    </div>
                    <!-- / cart box -->
                </li>
            </ul>
        </div>
    </nav>

    <div className="container-fluid"></div>
        <div class="row p-1">
            {{{body}}}
        </div>
    </div>

<footer id="aa-footer">
    <div class="aa-footer-top">
     <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-top-area">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <h3>Main Menu</h3>
                  <ul class="aa-footer-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Our Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Knowledge Base</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">Delivery</a></li>
                      <li><a href="#">Returns</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Discount</a></li>
                      <li><a href="#">Special Offer</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Useful Links</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">Site Map</a></li>
                      <li><a href="#">Search</a></li>
                      <li><a href="#">Advanced Search</a></li>
                      <li><a href="#">Suppliers</a></li>
                      <li><a href="#">FAQ</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Contact Us</h3>
                    <address>
                      <p> 12 Unnamed Street, NY 10003, USA</p>
                      <p><span class="fa fa-phone"></span>223 456 789</p>
                      <p><span class="fa fa-envelope"></span>cool@mail.com</p>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>
</body>
</html>